.link {
  display: flex;
  align-items: center;

  font-size: 12px;

  text-align: right;
  letter-spacing: 0.04em;

  color: rgba(82, 85, 95, 0.7);
}

.img {
  width: 18px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 16px;
  }
  .img {
    margin-right: 20px;
    width: 24px;
    height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    display: none;
  }
}
