html {
  font-size: '12px';
  line-height: 1.17;
  letter-spacing: '0.04em';
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #52555f;

  scrollbar-color: #ff751d #f5f6fb;
  scrollbar-width: '6px';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #f5f6fb;
}

::-webkit-scrollbar-thumb {
  background: #ff751d;
  border-radius: 2px;
}
