.summaryBox {
  width: 230px;
  margin-left: 30px;
}
.title {
  color: #000000;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0;
}
.item {
  margin-top: 2px;
}
.itemBox {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 12px 20px 12px 22px;
}
.itemMonth {
  font-size: 12px;
  line-height: 14px;
}
.itemTotal {
  font-size: 12px;
  line-height: 14px;
}
